.title {
  overflow: hidden;
  position: fixed;
  top: 0;
  padding: var(--mantine-spacing-md) 0;
  z-index: 100;
}

.content {
  margin-top: calc(var(--mantine-spacing-lg) * 4);
}

.backGroup {
  align-items: center;
  display: flex;
}

@media screen and (max-width: 765px) {
  .title {
    padding-top: 0;
    z-index: 0;
    position: relative;
    margin-top: 60px;
    width: 100%;
    color: var(--mantine-color-text) !important;
  }
  .backGroup {
    display: block;
    margin-top: 10px;
  }
  .content {
    margin-top: 0;
  }
}
